page-home {



.button-outline-md .button {
    top: 150px;
  }

  agm-map {
    height: 400px;
    .icon-call {
      margin-right: 4px;
      margin-left: 2px;
      color:red;
    }
  }

  .locate-icon {
    margin-right: 6px;
  }

  .agm-map-container-inner[_ngcontent-c0] {
    -webkit-box-shadow: -2px 0px 23px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 23px -5px rgba(0,0,0,0.75);
    box-shadow: -2px 0px 23px -5px rgba(0,0,0,0.75);
  }

  .button-outline {
    -webkit-box-shadow: -2px 0px 23px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 23px -5px rgba(0,0,0,0.75);
    box-shadow: -2px 0px 23px -5px rgba(0,0,0,0.75);
    margin-bottom: 20px;
  }
}
