<ion-header>
  <ion-navbar>
    <ion-title>
      Marmiteco App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button
          ion-button
          icon-left
          block
          outline
          type="button"
          icon-left
          (click)="onGetLocation()">
          <ion-icon name="pin"> Encontrar Comida!!</ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="wraper">
    <ion-row *ngIf="locationIsSet">
      <ion-col>
        <agm-map
          [latitude]="location.lat"
          [longitude]="location.lng"
          [zoom]="15">
          <agm-marker
            [latitude]="location.lat"
            [longitude]="location.lng">
            <agm-info-window>
              <strong>Eu estou aqui!</strong>
            </agm-info-window>
          </agm-marker>
          <agm-marker *ngFor="let business of businesses"
            [latitude]="business.latitude"
            [longitude]="business.longitude">
            <agm-info-window>
              <strong><em>{{business.business_name}}</em></strong>
              <hr>
              {{business.business_info}}
              <hr>
              {{business.business_time}}
              <hr>
              {{business.business_street}}, {{business.business_number}} | {{business.business_phone}}
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
